* {
    font-size: 12pt;
    font-family: Times New Roman;
}

body {
	background-color: #d9d9d9;
/*	background-color: #D9D1C1;*/
}

.outer-table {
	position: absolute;
	top: 75px;
	left: 50%;
	margin-left: -520px;
}

.section {
	min-height: 250px;
	padding-bottom: 25px;
    margin-bottom: 50px;
}

.section-title {
    font-family: serif;
	font-size: 24pt;
	color: #909090;
	text-align: center;
	margin: 10pt;
    border-bottom: 1px solid #c0c0c0;
}

.section.bookmarks .section-title {
    margin-left: 0;
}

.section.search {
	float:left;
	border-right: 1px solid #c0c0c0;
	padding-right: 0px;
}

.search.item {
	padding: 5px;
	min-height: 2em;
}

.search.item.title {
	float:left;
	text-align: right;
	min-width: 12em; /* !!! 15 12 */
/*	margin-right: 7px;*/
    padding-right: 9px;
	color: #707070;
	font-style: italic;
	font-weight: bold;
}

.search.item.button {
    font-family: sans;
    font-size: 10pt;
	padding-top: 4px;
	padding-bottom: 7px;
	padding-left: 16px;
	padding-right: 16px;
	margin-top: -2px;
	margin-left: -9px; /* -20 !!! 10 */
	float: right;
}

.search.item.field {
	padding: 0;
	float: left;
	min-width: 450px;
	font-size: 10pt;
    font-family: sans-serif;
	min-height: 26px;
	margin-right: 0;
}

.section.bookmarks {
	float: right;
	min-width: 200px;
	border-left: 1px solid #c0c0c0;
	margin-left: -1px;
	padding-left:15px;
}

.bookmarks.item {
	padding: 0;
/*	padding-left: 25px;*/
	max-width: 180px;
}

.bookmarks.item.link {
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.bookmarks.item.link:hover {
	/*background-color: #c0c0c0;*/
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border: 1px solid #c0c0c0;
	/*border-left: 0;*/
}

.bookmarks.item a {
	text-decoration: none;
	color: #1010d0;
	font-style: italic;
}

.bookmarks.item a:active,
.bookmarks.item a:focus {
	color: #000000;
	outline: none;
	outline-style: none;
	-moz-outline-style: none;
	-moz-focus-inner-border: 0;
}

.bookmarks.add {
	max-width: 200px;
	min-width: 200px;
	color: #707070;
	font-style: italic;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	margin-left: -15px;
}

/*
.button {
    color: #909090;
    border: 1px solid #c0c0c0;
}
*/

input.button {
    border: 1px solid #000000;
    background-color: #e0e0e0;
}

input.button:hover {
    background-color: #e9e9e9;
}

.bookmarks.add.button {
	/* border: 1px solid #c0c0c0; */
	font-style: normal;
	max-width: 100px;
	min-width: 100px;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #707070;
	margin-left: 0px;
}

.bookmarks.add.field {
	border: 1px solid #c0c0c0;
	font-style: normal;
	max-width: 100px;
	min-width: 100px;
	padding: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #707070;
	margin-left: 0px;
	min-width: 195px;
	max-width: 195px;
}

.bookmarks.section-title {
	/*padding-left: 0;*/
}

.bookmarks.item.favicon {
    margin-right: 7px;
    margin-bottom: -2px;
}

.favicon {
    width: 16px;
    height: 16px;
}

.search_field {
	min-width: 450px;
}

td {
	padding: 5pt;
}
